{% extends "todo/base.html" %}
{% block content %}
	<div class = "content">
		<form class = 'Register_block' method="POST"> 
			{% csrf_token %}  <!-- cross platform token -->
			<fieldset class = "fieldset_reg">
				<legend class = "legend_reg">   <!-- design ig -->
					Register Now for FREE
				</legend>
				{{ form.as_p }}
			</fieldset>
			<div>
				<button class="button_reg" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="Login_reg">
			<small class="LogText_reg">Already have an account?<a class = "LogSign_reg" href="http://localhost:8000/login">Sign In</a></small>
		</div>
	</div>
{% endblock content %}