{% extends "todo/base.html" %}
{% block content %}
	<div class = 'content'>
		<form class = 'Register_block' method="POST"> 
			{% csrf_token %}  <!-- cross platform token -->
			<fieldset class = "fieldset_reg">
				<legend class = "legend_reg">   <!-- design ig -->
					<h1 style="font-size:28px">Delete Task</h1>
					<p>Are you sure you want to delete the task "{{object.taskname}}"</p>
				</legend>
			</fieldset>
			<div>
				<button class="button_reg" type="submit">Yes, Delete</button>
				<a href = "{% url 'task-detail' object.id %}" class="button_reg" >Cancel</a>
			</div>
		</form>
	</div>
{% endblock content %}